anypoint-connector-devkit/v/3.7/devkit-tutorial/resources/wsdl/IMuleCookBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IMuleCookBookServiceService" targetNamespace="http://service.tutorial.cookbook.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.tutorial.cookbook.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.tutorial.cookbook.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.tutorial.cookbook.com/">
  <xs:element name="addList" type="tns:addList"/>
  <xs:element name="addListResponse" type="tns:addListResponse"/>
  <xs:element name="create" type="tns:create"/>
  <xs:element name="createResponse" type="tns:createResponse"/>
  <xs:element name="delete" type="tns:delete"/>
  <xs:element name="deleteList" type="tns:deleteList"/>
  <xs:element name="deleteListResponse" type="tns:deleteListResponse"/>
  <xs:element name="deleteResponse" type="tns:deleteResponse"/>
  <xs:element name="describeEntity" type="tns:describeEntity"/>
  <xs:element name="describeEntityResponse" type="tns:describeEntityResponse"/>
  <xs:element name="get" type="tns:get"/>
  <xs:element name="getEntitiesList" type="tns:getEntitiesList"/>
  <xs:element name="getEntitiesListResponse" type="tns:getEntitiesListResponse"/>
  <xs:element name="getList" type="tns:getList"/>
  <xs:element name="getListResponse" type="tns:getListResponse"/>
  <xs:element name="getRecentlyAdded" type="tns:getRecentlyAdded"/>
  <xs:element name="getRecentlyAddedResponse" type="tns:getRecentlyAddedResponse"/>
  <xs:element name="getResponse" type="tns:getResponse"/>
  <xs:element name="login" type="tns:login"/>
  <xs:element name="loginResponse" type="tns:loginResponse"/>
  <xs:element name="logout" type="tns:logout"/>
  <xs:element name="logoutResponse" type="tns:logoutResponse"/>
  <xs:element name="searchWithQuery" type="tns:searchWithQuery"/>
  <xs:element name="searchWithQueryResponse" type="tns:searchWithQueryResponse"/>
  <xs:element name="update" type="tns:update"/>
  <xs:element name="updateList" type="tns:updateList"/>
  <xs:element name="updateListResponse" type="tns:updateListResponse"/>
  <xs:element name="updateResponse" type="tns:updateResponse"/>
  <xs:complexType name="create">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType abstract="true" name="cookBookEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastModified" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredient">
    <xs:complexContent>
      <xs:extension base="tns:cookBookEntity">
        <xs:sequence>
          <xs:element name="quantity" type="xs:double"/>
          <xs:element minOccurs="0" name="unit" type="tns:unitType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="recipe">
    <xs:complexContent>
      <xs:extension base="tns:cookBookEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="cookTime" type="xs:double"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="directions" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ingredients" nillable="true" type="tns:ingredient"/>
          <xs:element minOccurs="0" name="prepTime" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="faultBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entityIds" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entities" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="describeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="describeEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="description">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataType" type="tns:dataType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="innerFields" nillable="true" type="tns:description"/>
      <xs:element minOccurs="0" name="innerType" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="querable" type="xs:boolean"/>
      <xs:element name="sortable" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entityIds" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteListResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="searchWithQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" type="xs:string"/>
      <xs:element minOccurs="0" name="page" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchWithQueryResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entities" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRecentlyAdded">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getRecentlyAddedResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:recipe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logout">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logoutResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getEntitiesList">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getEntitiesListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="get">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="unitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CUPS"/>
      <xs:enumeration value="GRAMS"/>
      <xs:enumeration value="KILOGRAMS"/>
      <xs:enumeration value="LITERS"/>
      <xs:enumeration value="MILLIGRAMS"/>
      <xs:enumeration value="MILLILITERS"/>
      <xs:enumeration value="POUNDS"/>
      <xs:enumeration value="SPOONS"/>
      <xs:enumeration value="UNIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DATE"/>
      <xs:enumeration value="DOUBLE"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="LIST"/>
      <xs:enumeration value="OBJECT"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="UNIT_TYPE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InvalidToken" nillable="true" type="tns:faultBean"/>
  <xs:element name="SessionExpired" nillable="true" type="tns:faultBean"/>
  <xs:element name="InvalidEntity" nillable="true" type="tns:faultBean"/>
  <xs:element name="NoSuchEntity" nillable="true" type="tns:faultBean"/>
  <xs:element name="InvalidCredentials" nillable="true" type="tns:faultBean"/>
  <xs:element name="InvalidRequest" nillable="true" type="tns:faultBean"/>
  <xs:element name="token" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get">
    <wsdl:part name="parameters" element="tns:get">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitiesList">
    <wsdl:part name="parameters" element="tns:getEntitiesList">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentlyAdded">
    <wsdl:part name="parameters" element="tns:getRecentlyAdded">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="tns:getResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describeEntity">
    <wsdl:part name="parameters" element="tns:describeEntity">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SessionExpiredException">
    <wsdl:part name="SessionExpiredException" element="tns:SessionExpired">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part name="parameters" element="tns:create">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidEntityException">
    <wsdl:part name="InvalidEntityException" element="tns:InvalidEntity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="result" element="tns:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidCredentialsException">
    <wsdl:part name="InvalidCredentialsException" element="tns:InvalidCredentials">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteList">
    <wsdl:part name="parameters" element="tns:deleteList">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentlyAddedResponse">
    <wsdl:part name="parameters" element="tns:getRecentlyAddedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getList">
    <wsdl:part name="parameters" element="tns:getList">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateList">
    <wsdl:part name="parameters" element="tns:updateList">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchWithQueryResponse">
    <wsdl:part name="parameters" element="tns:searchWithQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidRequestException">
    <wsdl:part name="InvalidRequestException" element="tns:InvalidRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateListResponse">
    <wsdl:part name="parameters" element="tns:updateListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describeEntityResponse">
    <wsdl:part name="parameters" element="tns:describeEntityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoSuchEntityException">
    <wsdl:part name="NoSuchEntityException" element="tns:NoSuchEntity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListResponse">
    <wsdl:part name="parameters" element="tns:getListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchWithQuery">
    <wsdl:part name="parameters" element="tns:searchWithQuery">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidTokenException">
    <wsdl:part name="InvalidTokenException" element="tns:InvalidToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListResponse">
    <wsdl:part name="result" element="tns:deleteListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addList">
    <wsdl:part name="parameters" element="tns:addList">
    </wsdl:part>
    <wsdl:part name="token" element="tns:token">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitiesListResponse">
    <wsdl:part name="parameters" element="tns:getEntitiesListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addListResponse">
    <wsdl:part name="parameters" element="tns:addListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMuleCookBookService">
    <wsdl:operation name="create">
<wsdl:documentation>Create an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="create" message="tns:create">
    </wsdl:input>
      <wsdl:output name="createResponse" message="tns:createResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getList">
<wsdl:documentation>Retrieves a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="getList" message="tns:getList">
    </wsdl:input>
      <wsdl:output name="getListResponse" message="tns:getListResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addList">
<wsdl:documentation>Creates a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="addList" message="tns:addList">
    </wsdl:input>
      <wsdl:output name="addListResponse" message="tns:addListResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="describeEntity">
<wsdl:documentation>Describes an entity given the Id and entity Type.</wsdl:documentation>
      <wsdl:input name="describeEntity" message="tns:describeEntity">
    </wsdl:input>
      <wsdl:output name="describeEntityResponse" message="tns:describeEntityResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
<wsdl:documentation>Logs into system, and returns a token to be used in future requests.</wsdl:documentation>
      <wsdl:input name="login" message="tns:login">
    </wsdl:input>
      <wsdl:output name="loginResponse" message="tns:loginResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidCredentialsException" message="tns:InvalidCredentialsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
<wsdl:documentation>Deletes a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="deleteList" message="tns:deleteList">
    </wsdl:input>
      <wsdl:output name="deleteListResponse" message="tns:deleteListResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchWithQuery">
<wsdl:documentation>Searchs a list of ingredient or recipe matching a specific criteria.</wsdl:documentation>
      <wsdl:input name="searchWithQuery" message="tns:searchWithQuery">
    </wsdl:input>
      <wsdl:output name="searchWithQueryResponse" message="tns:searchWithQueryResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidRequestException" message="tns:InvalidRequestException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
<wsdl:documentation>Updates an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="update" message="tns:update">
    </wsdl:input>
      <wsdl:output name="updateResponse" message="tns:updateResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateList">
<wsdl:documentation>Updates a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="updateList" message="tns:updateList">
    </wsdl:input>
      <wsdl:output name="updateListResponse" message="tns:updateListResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentlyAdded">
<wsdl:documentation>Retrieves a list of the recently added recipies.</wsdl:documentation>
      <wsdl:input name="getRecentlyAdded" message="tns:getRecentlyAdded">
    </wsdl:input>
      <wsdl:output name="getRecentlyAddedResponse" message="tns:getRecentlyAddedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
<wsdl:documentation>Logs out.</wsdl:documentation>
      <wsdl:input name="logout" message="tns:logout">
    </wsdl:input>
      <wsdl:output name="logoutResponse" message="tns:logoutResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEntitiesList">
<wsdl:documentation>List of CookBook Entities that can be retrieved from the server.</wsdl:documentation>
      <wsdl:input name="getEntitiesList" message="tns:getEntitiesList">
    </wsdl:input>
      <wsdl:output name="getEntitiesListResponse" message="tns:getEntitiesListResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
<wsdl:documentation>Deletes an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="delete" message="tns:delete">
    </wsdl:input>
      <wsdl:output name="deleteResponse" message="tns:deleteResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
<wsdl:documentation>Retrieves an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="get" message="tns:get">
    </wsdl:input>
      <wsdl:output name="getResponse" message="tns:getResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidTokenException" message="tns:InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IMuleCookBookServiceServiceSoapBinding" type="tns:IMuleCookBookService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create">
        <soap:header message="tns:create" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getList">
        <soap:header message="tns:getList" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addList">
        <soap:header message="tns:addList" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="describeEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="describeEntity">
        <soap:header message="tns:describeEntity" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="describeEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteList">
        <soap:header message="tns:deleteList" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidCredentialsException">
        <soap:fault name="InvalidCredentialsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchWithQuery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchWithQuery">
        <soap:header message="tns:searchWithQuery" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchWithQueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRequestException">
        <soap:fault name="InvalidRequestException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:header message="tns:update" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateList">
        <soap:header message="tns:updateList" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentlyAdded">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecentlyAdded">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecentlyAddedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="logout">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEntitiesList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEntitiesList">
        <soap:header message="tns:getEntitiesList" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntitiesListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:header message="tns:delete" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get">
        <soap:header message="tns:get" part="token" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMuleCookBookServiceService">
    <wsdl:port name="IMuleCookBookServicePort" binding="tns:IMuleCookBookServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/IMuleCookBookServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
